/Solution/PooEShopping/target/
/PooEShopping/nbproject/private/
/PooEShopping/build/
Librerias/mysql-connector-java-8.0.16/src/
Solution/PooEShopping/nbproject/private/
/Solution/PooEShopping/dist/
Solution/.metadata/
Solution/PooEShopping/build/
Solution/Taller3_PooEShopping/.metadata/
